h1 {
    text-align: center;
    background: #36333A;
    padding: 25px;
    color: white;
    margin-bottom: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 28px;
    box-shadow: 0 4px 15px rgba( 0, 0, 0, 0.2);
}

p {
    text-align: center;
    background: #36333A;
    display: inline-block;
    margin: 0 auto 30px auto;
    padding: 20px 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    box-shadow: 0 5px 15px rgba( 0, 0, 0, 0.15);
    animation: zoomIn 0.6s ease;
}

@keyframes zoomIn {
    form {transform: scale(0.8); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

table{
    width: 85%;
    margin: 0 auto;
    border-collapse: collapse;
    background: fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba( 0, 0, 0, 0.15);

}

th {
    background: #36333A;
    color: #fff;
    padding: 14px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

td{
    padding: 14px;
    font-size: 14px;
}

tr:nth-child(even) { background: #f8faff;}
tr:hover { background: #e1edff; transition: 0.3s;}

a {
    display: inline-block;
    margin: 10px;
    padding: 12px 22px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

a[href*="index.php"] {
    background: #36333A;
    color: #fff;
}

a[href*="index.php"]:hover {
    background: #BCAF81;
    transform: scale(1.05);
}

a[href*="tambah.php"] {
    background: #36333A;
    color: #fff;
}

a[href*="tambah.php"]:hover {
    background: #BCAF81;
    transform: scale(1.05);
}

a[href*="logout.php"] {
    background: #36333A;
    color: #fff;
}

a[href*="logout.php"]:hover {
    background: #BCAF81;
    transform: scale(1.05);
}
